/**
 * Drupal tabs
 */

.tabs {
  @extend %list-inline;

  a {
    display: block;
    background-color: #eee;
    padding: 5px 15px;
    border-radius: 5px;
    border: 1px solid #ccc;
    text-decoration: none;
    color: $base-font-color;

    &:hover,
    &.active {
      background-color: #ccc;
      border-color: #aaa;
      color: $heading-font-color;
    }
  }
}