/*------------------------------------------------------------------
[Layout]
-------------------------------------------------------------------*/

// Temporary layout styles
body {
  margin: 0;
  padding: 0;
}

.outer-wrapper {
  @include outer-container;
}

// Container example
.container {
  padding: 15px;

  @include outer-container();

  @include media($small) {
    @include outer-container(768px);
  }

  @include media($medium) {
    @include outer-container(930px);
  }

  @include media($large) {
    @include outer-container(1170px);
  }
}

// Fluid container example
.container-fluid {
  padding: 35px 15px;

  @include outer-container();

  @include media($small) {
    padding: 3em 30px;
  }
}

/**
 * Twocol layout
 */

.ttw-twocol {
  @include clearfix;

  @include media($small) {
    .region-main.has-aside {
      @include span-columns(8);
    }

    .region-aside {
      @include span-columns(4);
      @include omega;
    }
  }
}