/*------------------------------------------------------------------
[Colors]
-------------------------------------------------------------------*/

$colors: (
  black:            #000000,
  darkest-gray:     #2e2e2e,
  dark-gray:        #333333,
  brown:            #2e2e2e,
  green:            #2aa3a5,
  blue:             #00435D,
);

// Font Colors
$base-font-color: map-get($colors, dark-gray);
$heading-font-color: map-get($colors, darkest-gray);

// Footer Brown
$footer-brown: map-get($colors, brown);

// Green
$green: map-get($colors, green);

// Blue
$blue: map-get($colors, blue);