/*------------------------------------------------------------------
[Variables]

General variables used throughout the project.
-------------------------------------------------------------------*/

// Typography
$base-font: 'Source Sans Pro', sans-serif;
$base-font-family: $base-font;


// Font Sizes
$base-font-size: 18px;
$base-line-height: 27px;

// Font weights
$light: 300;
$normal: 400;
$semibold: 600;