/*------------------------------------------------------------------
[Base]

Contains basic html tags (eg. html, body, ul, p,...)
-------------------------------------------------------------------*/

// Global border-box
@if $default-border-box {
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }
}
