/**
 * Base theming setup
 */

// Global border-box
@if $default-border-box {
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }
}

/**
 * Header
 */
header {}

/**
 * Mobile container
 */
.mobile-container {
  @include clearfix;
  position: relative;

  .mobile-toggle {
    border: 3px solid red;
    position: absolute;
    bottom: 10px;
    right: 0;
  }
}

/**
 * Logo
 */
.logo {
  @include span-columns(5);
  margin-top: 10px;
}

/**
 * Language
 */
.language {
  @include span-columns(7);
  @include omega;
}


/**
 * Navigation
 */
.navigation {
  @include span-columns(12);
  margin-top: 10px;
  background-color: $green;
  color: white;
  position: relative;
}



/**
 * Footer
 */
footer {
  background-color: $footer-brown;
  color: white;
}

/**
 * Main
 */
.main-content {
}
