/**
 * Base theming setup
 */

// Global border-box
@if $default-border-box {
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }
}

/**
 * Header
 */
header {
  @include media($small) {
    padding-bottom: 5px;
    border-bottom: 4px solid $green;
  }
}

/**
 * Logo
 */
.logo {
  @include span-columns(5);
  margin-top: 10px;

  @include media($small) {
    @include span-columns(3);
  }
}

/**
 * Language
 */
.language {
  @include span-columns(7);
  @include omega;

  @include media($small) {
    @include span-columns(9);
    @include omega;
  }
}

/**
 * Navigation
 */
.navigation {
  @include span-columns(12);

  @include media($small) {
    @include span-columns(9);
    @include omega;
  }
}

/**
 * Footer
 */
footer {
  background-color: $footer-brown;
  color: white;
}

/**
 * Main
 */
.main-content {
}
