/**
 * Base theming setup
 */

// Global border-box
@if $default-border-box {
  *,
  *::after,
  *::before {
    box-sizing: inherit;
  }

  html {
    box-sizing: border-box;
  }
}


/**
 * Header
 */
header {
  background-color: $green;
}

/**
 * Footer
 */
footer {
  background-color: $footer-brown;
  color: white;
}

/**
 * Main
 */
.main-content {
}
