/**
 * Language
 */

.language {
  .language-switcher-locale-url {
    @extend %list-inline;
    margin: 0;
    text-align: right;

    li {
      text-align: left;
    }

    a {
      background-color: #7c7c80;
      color: white;
      display: inline-block;
      text-transform: uppercase;
      text-indent: -9999em;
      padding: 4px 12px 4px;

      &:after {
        display: block;
        float: right;
        text-indent: 0;
        content: 'XX';
      }
    }

    .active {
      a {
        background-color: $green;
      }
    }

    .nl a:after {
      content: 'NL';
    }

    .fr a:after {
      content: 'FR';
    }

    .en a:after {
      content: 'ENG';
    }

    @include media($small) {
      margin-top: 10px;

      a {
        background: transparent;
        color: $medium-gray;
        font-size: 14px;
        text-transform: none;
        text-indent: 0;
        padding: 0;
        margin-right: 5px;

        &:after {
          content: '|' !important;
          margin-left: 5px;
        }
      }

      .last {
        a {
          margin-right: 0;

          &:after {
            display: none;
          }
        }
      }

      .active {
        a {
          background: transparent;
          color: $green;
        }
      }
    }
  }
}