/*------------------------------------------------------------------
[Lists]
-------------------------------------------------------------------*/

dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}