/**
 * Default list styling
 */

%list-inline {
  padding: 0;
  list-style: none;

  li {
    display: inline-block;
  }
}

ul {

}




/*
dl {
  margin-bottom: $small-spacing;

  dt {
    font-weight: 600;
    margin-top: $small-spacing;
  }

  dd {
    margin: 0;
  }
}
*/