/**
 * Default list styling
 */

%no-bullets {
  list-style: none;
}

%list-inline {
  @extend %no-bullets;

  li {
    display: inline-block;
  }
}

ul {
  padding: 0;
}

.menu {
  @extend %no-bullets;
  margin: 0;
}